<div class="container p-4 d-flex align-content-center justify-content-between bg-success">
    <div class="row">
        <div class="text-white col-md-3">
            <h1>Cookpedia</h1>
            <p>Discover 100+ recipes in your hand with the best recipe.Help you to find the easiest way to cook.</p>
        </div>
        <div class="col-md-3"></div>
        <div class="text-white col-md-6">
            <h1>Sign up for our news letter</h1>
            <div class="d-flex">
                <input type="text" class="form-control" placeholder="Enter your mail id">
                <div style="background-color:green;" class="ms-3 rounded-3 p-2"><i class="fa-solid fa-arrow-right"></i></div>
            </div>
            <div class=" container text-center mt-3">
                <div class="row">
                    <div class="d-flex flex-column col-3">
                        <h5>Menu</h5>
                        <p>Home</p>
                        <p>Recipes</p>
                        <p>About</p>
                        <p>Contact</p>
                    </div>
                    <div class="d-flex flex-column col-3">
                        <h5>Help</h5>
                        <p>Login</p>
                        <p>Register</p>
                        <p>Terms of Use</p>
                        <p>Privacy & Policy</p>
                    </div>
                    <div class="d-flex flex-column col-4">
                        <h5>Social Media</h5>
                        <p>Facebook</p>
                        <p>Instagram</p>
                        <p>Twitter</p>
                        <p>Youtube</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
