<app-header/>
<div class="container">
    <div class="row bg-success ">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <h1 class="text-white fw-bold">Contact Us</h1>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae officia deserunt libero dolor recusandae rem, reiciendis voluptatum distinctio totam, consequuntur incidunt adipisci nam, nisi voluptatem asperiores sequi reprehenderit! Tempore, consectetur.</p>
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
    <div class="row p-5">
        <div class="col-md-2">
                
            </div>
            <div class="col-md-5 ">
                <h3>Get in Touch</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet magni quis iure voluptas commodi nobis esse odio assumenda quasi. Facere iure unde possimus soluta sequi eveniet perspiciatis neque ipsam architecto!</p>
                <div class="d-flex">
                    <div style="width: 35px;height:35px" class="rounded-circle bg-success p-2 me-3 text-white"><i class="fa-solid fa-address-book"></i></div>
                    <div class="d-flex flex-column">
                        <p>Address</p>
                        <p>NYC,4567,P.O Berlin</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div style="width: 35px;height:35px" class="rounded-circle bg-success p-2 me-3 text-white"><i class="fa-solid fa-address-book"></i></div>
                    <div class="d-flex flex-column">
                        <p>Phone Number</p>
                        <p>8606777325</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div style="width: 35px;height:35px" class="rounded-circle bg-success p-2 me-3 text-white"><i class="fa-solid fa-address-book"></i></div>
                    <div class="d-flex flex-column">
                        <p>E-mail</p>
                        <p>mail</p>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-column">
                    <h5>Follow Us</h5>
                    <div class="d-flex">
                        <div style="width: 35px;height:35px" class="rounded-circle bg-success p-2 me-3 text-white"><i class="fa-brands fa-facebook-f"></i></div>
                        <div style="width: 35px;height:35px" class="rounded-circle bg-success p-2 me-3 text-white"><i class="fa-brands fa-instagram"></i></div>
                        <div style="width: 35px;height:35px" class="rounded-circle bg-success p-2 me-3 text-white"><i class="fa-brands fa-twitter"></i></div>
                        <div style="width: 35px;height:35px" class="rounded-circle bg-success p-2 me-3 text-white"><i class="fa-solid fa-address-book"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <form class="shadow p-3 mb-5 bg-body-tertiary rounded">
                    <h4 class="text-center">Client Testimony</h4>
  <div class="mb-3">
    
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="email">
  </div>
  <div class="form-floating">
  <textarea class="form-control" placeholder="Message" id="floatingTextarea"></textarea>
  
</div>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
</p>
  <div class="text-end"><button type="submit" class="btn bg-success text-white">Submit</button></div>
</form>
            </div>
            <div class="col-md-1"></div>
    </div>
    <div class="row p-4 ">
       <div class=""> <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6804.148352944523!2d76.3418586!3d10.0158685!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080c8e94a07a07%3A0x49921cdfae82660!2sKakkanad%2C%20Kerala!5e1!3m2!1sen!2sin!4v1763391227576!5m2!1sen!2sin" class="w-100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    </div>
</div>
<app-footer/>
