<app-header/>
<!-- Back to list -->
<div>
    <div class="container mt-4">
      <a href="#" class="text-decoration-none">&larr; Back To Recipe List</a>
    </div>
    
    <!-- Recipe Title -->
    <div class="container mt-3">
      <h2 class="text-center fw-bold">{{recipe.name
}}</h2>
    </div>
    
    <!-- Main Section -->
    <div class="container mt-4">
      <div class="row g-4">
        
        <!-- Left Image -->
        <div class="col-lg-6">
          <img [src]="recipe.
image" class="img-fluid rounded shadow" alt="Vegetarian Stir Fry" />
        </div>
        
        <!-- Right Description -->
        <div class="col-lg-6">
          
          <div class="d-flex justify-content-between flex-wrap mb-4">
            <p><strong>Cuisine :</strong> {{recipe.cuisine}}</p>
            <p><strong>Servings :</strong>{{recipe.servings
}} </p>
            <p><strong>Mode of Cooking :</strong> {{recipe.
difficulty}}</p>
          </div>
    
          <div class="row text-center mb-4">
            <div class="col-6 col-md-4">
              <i class="fa-solid fa-clock fa-2xl"></i>
              <p class="fw-bold mb-0">Preparation Time</p>
              <p class="text-danger fw-bold">{{recipe.
prepTimeMinutes}} Minutes</p>
            </div>
            <div class="col-6 col-md-4">
              <i class="bi bi-hourglass-split fs-1"></i>
              <p class="fw-bold mb-0">Cooking Time</p>
              <p class="text-danger fw-bold">{{recipe.cookTimeMinutes}} Minutes</p>
            </div>
            <div class="col-12 col-md-4 mt-3 mt-md-0">
              <i class="fa-solid fa-utensils fa-2xl"></i>
              <p class="fw-bold mb-0">Calorie Per Servings</p>
              <p class="text-danger fw-bold">{{recipe.caloriesPerServing
}} kcal</p>
            </div>
          </div>
    
          <h5 class="fw-bold">Ingredients Needed</h5>
          <ol class="mb-4">
            @for (recipe
 of recipe.ingredients; track $index) {<li>{{recipe}}</li>} 
            
          </ol>
    
          <h5 class="fw-bold">Cooking Instruction</h5>
          <ol>
            @for (recipe of recipe.instructions
; track $index) {<li>{{recipe}}</li>}
            
            
          </ol>
    
          <!-- Buttons -->
          <div class="mt-4 d-flex gap-3">
            <button (click)="addToDownload()"  class="btn btn-success px-4">Download Recipe</button>
            <button class="btn btn-primary px-4"><a href="recipe/save" class="text-white">Save Recipe</a></button>
          </div>
    
        </div>
      </div>
    </div>
    
    <!-- Related Recipes -->
    <div class="container mt-5">
      <h4 class="fw-bold">Related Recipes</h4>
      <div class="row mt-3">
        
          @for (related of relatedRecipe; track $index) {
            <div class="col-6 col-sm-4 col-md-3">
            <div routerLink="/recipes/{{related._id}}/view" class="card border-0">
            <img [src]="related.image"
 class="card-img-top rounded" alt="" width="120px" height="120px">
            <div class="card-body px-0">
              <p class="fw-bold mb-0">{{related.name}}</p>
            </div>
          </div>
          </div>
          } 
        
      </div>
    </div>
</div>

<app-footer/>

